* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

#navbar {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 3px;
}

#navbrand-text-custom {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 17px;
}

.navbar-nav a {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 600;
}

.navbar-pd-custom {
    padding-right: 10%;
}

.navbrand-pd-custom {
    padding-left: 10%;
}

.text-showcase {
    margin-top: 21%;
    padding-left: 50%;
    padding-top: 4rem;
}

.text-showcase button {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: bold;
    border-radius: 999px;
    font-size: 16px;
    border: 0px solid;
    height: 49px;
    box-shadow: rgba(0, 68, 255, 0.35) 0px 5px 15px;
}

.text-showcase i {
    padding-left: 2px;
}

.text-showcase h1{
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 60px;
    font-weight: 600;
}

.text-showcase h3{
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

.img-showcase {
    margin-top: 9%;
}

.img-showcase img {
    border-radius: 125%;
}

.text-color-gradient {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}