* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

#navbar {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 3px;
}

#navbrand-text-custom {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 17px;
}

.navbar-nav a {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 600;
}

.navbar-pd-custom {
    padding-right: 10%;
}

.navbrand-pd-custom {
    padding-left: 10%;
}

.text-showcase {
    margin-top: 21%;
    padding-left: 50%;
    padding-top: 4rem;
}

.btn-about-me a {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: bold;
    border-radius: 999px;
    font-size: 16px;
    border: none;
    align-items: center;
    width: 145px;
    height: 49px;
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    transition: 0.5s;
    text-decoration: none;
    box-shadow: rgba(0, 0, 255, 0.2) 0px 7px 29px 0px;
}

.btn-about-me a:hover {
    filter: brightness(75%);
    transform: translateY(5px);
}

.btn-about-me a:hover i{
    transition: 0.4s;
    margin-left: 3%;
    transform: translateY(3px);
}

.btn-about-me i {
    margin-top: 1%;
    margin-left: 8%;
}

.text-showcase h1{
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 60px;
    font-weight: 600;
}

.text-showcase h3{
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

.img-showcase {
    margin-top: 9%;
    width: 100%;
    height: auto;
}

.img-showcase img {
    border-radius: 125%;
}


.text-color-gradient {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about-me header i {
    margin-right: 0.2%;
}

#about-me img {
    border-radius: 10%;
}

#about-me h3, h4 {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

#about-me h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2%;
}

#about-me h4 {
    padding-right: 40%;
    font-size: 25px;
}

#about-me img {
    transition: 0.5s;
    filter: grayscale(100%);
}

#about-me img:hover {
    transition: 0.5s;
    filter: grayscale(0);
}

#education .col-custom {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#education .col-custom h3{
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 700;
    margin-left: 5%;
    padding-top: 2%;
    font-size: 26px;
}

#education .col-custom h4{
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    margin-top: 1%;
    font-size: 20px;
    margin-left: 5%;
}

#education .col-custom h6{
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: bold;
    text-align: end;
    vertical-align: bottom;
    padding-right: 3%;
    align-self: self-end;
    padding-top: 18%;
}

#education .card-custom {
    display: flex;
    margin: 1.7% auto;
    margin-bottom: 0;
    width: 40%;
    height: 240px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s;
}

#education .card-custom:hover{
    transition: 0.2s;
    box-shadow: rgba(0, 0, 255, 0.2) 0px 7px 29px 0px;
    transform: translateY(1%);
}

#project .card-custom {
    display: flex;
    flex-direction: column;
    margin: 1.7% auto;
    margin-bottom: 2%;
    width: 23%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s;
}

#project .card-custom:hover{
    transition: 0.2s;
    box-shadow: rgba(0, 0, 255, 0.2) 0px 7px 29px 0px;
    transform: translateY(-3%);
    
}



#project h3 {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}

#project h6 {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
    padding-top: 3%;
    margin-bottom: 6%;
    color: gray;
    text-align: center;
}

#project p {
    text-align: center;
}

#project .padding-custom {
    padding: 5%;
}

#certificate .cer-img {
    margin: 1.5% 1.5%;
    width: 43%;
    height: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.2s;
}

#certificate .cer-img:hover{
    transition: 0.2s;
    transform: translateY(-3%);
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 255, 0.2) 0px 7px 29px 0px;
}

#certficate h3 {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}